<div class="container mt-5">
  <h1 class="card-title text-center mb-4" style="color: var(--color-primario);">Admin Panel</h1>

  <!-- SECCION DE PRODUCTOS -->
  <div class="card p-4 shadow-sm" style="background-color: var(--color-secundario);">
    <h2 class="card-title text-center mb-4" style="color: var(--color-primario);">
      Productos
    </h2>
    <div class="d-flex justify-content-around flex-wrap">
      <button class="btn btn-custom m-2" [routerLink]="['/addProduct']">
        Agregar producto
      </button>
      <button class="btn btn-custom m-2" [routerLink]="['/deleteProduct']">
        Eliminar producto
      </button>
      <button class="btn btn-custom m-2" [routerLink]="['/modificarProduct']">
        Modificar producto
      </button>

      <button class="btn btn-custom m-2" [routerLink]="['/mostrarProductos']">
        Mostrar todos
      </button>
    </div>
  </div>

  <br><br>

  <!-- SECCION DE CATEGORIAS -->
  <div class="card p-4 shadow-sm" style="background-color: var(--color-secundario);">
    <h2 class="card-title text-center mb-4" style="color: var(--color-primario);">
      Categorias
    </h2>
    <div class="d-flex justify-content-around flex-wrap">
      <button class="btn btn-custom m-2" [routerLink]="['/addCategoria']">
        Agregar categoría
      </button>
      <button class="btn btn-custom m-2" [routerLink]="['/deleteCategoria']">
        Eliminar categoria
      </button>
    </div>
  </div>

  <br><br>

  <!-- SECCION DE USUARIOS -->
  <div class="card p-4 shadow-sm" style="background-color: var(--color-secundario);">
    <h2 class="card-title text-center mb-4" style="color: var(--color-primario);">
      Usuarios
    </h2>
    <div class="d-flex justify-content-around flex-wrap">
      <button class="btn btn-custom m-2" [routerLink]="['/lista-usuarios']">
        Listar usuarios
      </button>
      <button class="btn btn-custom m-2" [routerLink]="['/crear-usuario']">
        Crear usuario
      </button>
    </div>
  </div>

</div>